TEKET_EMAIL=you@example.com
TEKET_PASSWORD=password
TEKET_GROUP_ID=2750
TEKET_EVENT_ID=68903

R7_EMAIL=you@example.com
R7_STAGE_ID=d7j07pmicnmdlrtjkqd0

SPREADSHEET_URL=https://docs.google.com/spreadsheets/d/***
SPREADSHEET_TICKET_GID=934641883
SPREADSHEET_MEMBERS_GID=708315325
GOOGLE_SERVICE_ACCOUNT_FILE=service_account.json
DASHBOARD_AUTH_USER=TickekanMaster
DASHBOARD_AUTH_PASSWORD=A6F8FXBG