TEKET_EMAIL=you@example.com
TEKET_PASSWORD=password
TEKET_GROUP_ID=2750
TEKET_EVENT_ID=68903

R7_EMAIL=you@example.com
R7_STAGE_ID=d7j07pmicnmdlrtjkqd0

SPREADSHEET_URL=https://docs.google.com/spreadsheets/d/***
GOOGLE_SERVICE_ACCOUNT_FILE=service_account.json